---
import img1 from "./img1.jpg"
import img2 from "./img2.jpg"
---
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
@media (max-width: 600px) {
    div {
      flex-direction: column;
      font-size: 10px
    }

    .my-class {
        font-size: 15px
    }
  
    img {
      margin-top: 30px;
      
    }
  }
</style>

<div class="flex flex-col ml-20 mr-20 mt-5">
<div class="flex">  
        <div class="flex flex-1 justify-center items-center"> 
            <div class="w-65">
            <h1 class="my-class text-2xl font-bold mb-3">Augmented Reality / Virtual Reality (AR/VR)</h1>
            <p> 
            Augmented Reality (AR) and Virtual Reality (VR) are technologies that
            create an immersive experience by overlaying digital information onto
            the real world or creating entirely virtual environments. The use of AR
            and VR has grown rapidly in recent years, particularly in the gaming
            and entertainment industries. However, these technologies also have
            the potential to revolutionize various industries, including healthcare,
            education, and retail, In combination with Al, AR and VR can create
            more personalized, interactive, and intelligent experiences for users.
            For example, Al algorithms can analyze user data fo provide
            personalized recommendations and suggestions in AR and VR
            environments.
          </p>
            </div>
          
        </div>
        <div class="flex flex-1 justify-center items-center"> 
            <div class="w-75 h-75"> 
            <img
            src={img1}
            alt=""
            class="w-full h-full" 
          />
            </div>
          
        </div>  
      </div>

  <div class="flex flex-wrap"> 
      <div class="flex flex-1 justify-center items-center"> 
            <div class="w-65 h-65"> 
            <img
            src={img2}
            alt=""
            class="w-full h-full" 
          />
            </div>
          
        </div> 
        <div class="flex flex-1 justify-center items-center"> 
            <div class="w-65">
            <h1 class="my-class text-2xl font-bold mb-3">Future of AR/VR in AI-apps</h1>
            <p> 
            AR and VR technologies can also be used to improve training and
            education by creating immersive simulations that allow learners to
            practice real-world scenarios in a safe and controlled environment. Al
            can be used to analyze user performance and provide personalized
            feedback to optimize learning outcomes. In healthcare, AR and VR
            technologies can be used to create virtual environments that help
            patients cope with pain, anxiety, and other symptoms. Al can be used to
            monitor patient data and provide real-time feedback to healthcare
            providers, Overall, the use of AR and VR in combination with Al has the
            potential to create more engaging, personalized, and intelligent
            experiences for users in various industries.
          </p>
            </div>
          
        </div>
          
      </div>
</div>



        

